body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 65px;
  border-bottom: 3px solid #FAD251;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  padding-left: 29px;
}

header a {
  color: #00BFFF;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.homeview-wrapper {
  margin: 0 auto;
  width: 790px;
}

.homeview-choose-a-quiz {
  height: 300px;
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: black;
}

.homeview-choose-a-quiz-text {
  font-size: 35px;
  margin: 100px 0 0 0;
  text-shadow: 0 2px 1px #939393;
  color: #FEFEFE;
}

.homeview-choose-a-quiz-quiztype-text {
  letter-spacing: 1px;
  margin: 30px 0 0 0;
  color: #FFD540;
}

.homeview-choose-a-quiz-quiztype-text:hover {
  color: #00BFFF;
}

.homeview-view-past-quizzes {
  height: 300px;
  width: 100%;
  border-top: #F3BD00;
  display: inline-block;
  text-align: center;
  background-color: #FAD251;
}

.homeview-view-past-quizzes-text {
  font-size: 35px;
  text-shadow: 0 2px 1px #4A432D;
  color: #010101;
  margin-top: 60px;
}

.homeview-view-past-quizzes-quiz-type-header {
  margin: 10px 0 0 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.homeview-view-past-quizzes-quiz-link {
  margin: 0;
  color: white;
  font-weight: bold;
}
